{{ define "main" }}
    {{ partial "content" . }}

    <h1>{{ i18n "blog_posts" }}</h1>

    {{ if .Site.Params.taxonomies.showOnBlogSection }}
        <ul class="all-used-taxonomies">
            {{ range $taxonomyName, $taxonomy := .Site.Taxonomies }}
                {{ $terms := where $taxonomy.ByCount ".Count" ">" (.Site.Params.taxonomies.minUsage | default 0) }}
                {{ if $terms }}
                    <li>
                        {{ $taxonomyHref := $taxonomyName | urlize | relLangURL }}
                        <a href="{{ $taxonomyHref }}">{{ $taxonomyName }}:</a>

                        {{ partial "termslist" (dict "taxonomyHref" $taxonomyHref "terms" $terms ) }}
                    </li>
                {{end}}
            {{ end }}
        </ul>
    {{ end }}

    {{ partial "postlist" .Pages }}
{{ end }}
