body {
    background-color: {{ .Site.Params.colors.body | default .Site.Data.themedefaults.colors.body }};
    font-family: {{ .Site.Params.fonts.body | default .Site.Data.themedefaults.fonts.body }};
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

::selection {
    background-color: #b6ecd7;
}

a {
    color: #0eb573;
    transition: color 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -webkit-transition: color 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -moz-transition: color 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -ms-transition: color 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -o-transition: color 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
}

a:hover {
    color: #289067;
}

mark {
    background-color: #e3e4b852;
    padding: 0.2em;
}

.meta {
    font-family: {{ .Site.Params.fonts.meta | default .Site.Data.themedefaults.fonts.meta }};
    font-size: 0.88em;
    color: #666666;
}

.meta a {
    color: #666666;
    transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -webkit-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -moz-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -ms-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -o-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
}

.meta a:hover {
    opacity: 0.7;
}

/* Template: blog/single */
.post-heading {
    font-family: {{ .Site.Params.fonts.postHeading | default .Site.Data.themedefaults.fonts.postHeading }};
}

.frontmatter {
    margin-bottom: 3rem;
    overflow: auto; /* ensures containment of floated elements */
}

.frontmatter ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.frontmatter li {
    float: left;
}

.frontmatter li:before {
    font-size: 0.25em;
    vertical-align: middle;
    margin-left: 0.75em;
    margin-right: 0.75em;
    content: "•";
}

.frontmatter .tags li:first-child:before {
    content: "|";
}

.frontmatter li:first-child:before {
    content: none;
}

.posts-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.posts-navigation .next:after {
    content: "＞";
    margin-left: 0.25em;
    display: inline-block;
}

.posts-navigation .prev:before {
    content: "＜";
    margin-right: 0.25em;
    display: inline-block;
}

/* Template: blog/section */
.all-used-taxonomies {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
    list-style: none;
    padding: 0;
}

/* Template: terms */
.taxonomy-terms {
    font-size: 1.5rem;
}

/* Partial: termslist */
.terms-list {
    font-family: {{ .Site.Params.fonts.taxonomyTerm | default .Site.Data.themedefaults.fonts.taxonomyTerm }};
    text-transform: capitalize;
    vertical-align: middle;
    font-weight: bold;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding: 0;
}

.terms-list li {
    margin-left: 0.25em;
}

.terms-list .pill,
.terms-list .pill span {
    display: inline-block;
    font-size: 0.75em;
    white-space: nowrap;
    line-height: 1;
    vertical-align: middle;
    padding: 0.25em 0.4em;
    border-radius: 0.25rem;
}

.terms-list .pill {
    background-color: #6d98b7;
    color: {{ .Site.Params.colors.body | default .Site.Data.themedefaults.colors.body }};
}

.terms-list .pill span {
    background-color: {{ .Site.Params.colors.body | default .Site.Data.themedefaults.colors.body }};
    color: #212529;
}

.terms-list a.pill:hover {
    text-decoration: none;
    color: {{ .Site.Params.colors.body | default .Site.Data.themedefaults.colors.body }};;
    opacity: 0.8;
}

/* Partial: Social */
.social a, .social span {
    opacity: 0.5;
    transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -webkit-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -moz-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -ms-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    -o-transition: opacity 0.1s cubic-bezier(0.47, 0, 0.75, 0.72);
    text-decoration: none;
}

.social a:hover {
    opacity: 1;
}

.social .icon {
    width: 1.4rem;
    height: 1.4rem;
}

/* Partial: Header */
#header {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
}

#header a:hover {
    text-decoration: none;
}

#header .main-header-section {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}

#header .logo {
    max-height: 8rem;
    border: 3px solid rgb(0,0,0,0.08);
    {{ if .Site.Params.logoAsCircle }}
        border-radius: 50%;
    {{ end }}
}

#header h1 {
    font-family: {{ .Site.Params.fonts.siteTitle | default .Site.Data.themedefaults.fonts.siteTitle }};
    font-weight: bold;
    color: #333333;
    font-size: 2.3rem;
    letter-spacing: 0.1rem;
}

#header nav ul {
    font-family: {{ .Site.Params.fonts.menu | default .Site.Data.themedefaults.fonts.menu }};
    font-size: 1.1rem;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#header nav li {
    margin-right: 0.8em;
}

/* Partial: Content */
#content {
    flex-grow: 1;
}

#content .markdown {
    font-size: 1.1em;
    line-height: 1.75em;
    color: #313537;
}

#content twitterwidget {
    margin: auto;
}

#content .markdown code,
#content .markdown pre {
    font-family: {{ .Site.Params.fonts.code | default .Site.Data.themedefaults.fonts.code }};
    font-size: 0.98rem;
    background-color: #f7f7f7;
}

#content .markdown code {
    /* enclosed by single backtick (`) */
    padding: 0.15em 0.5em;
    border-radius: 2px;
}

#content .markdown pre {
    /* Hugo specific: consider using the 'highlight' shortcode */
    display: block;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    line-height: 1.5em;
    white-space: pre;
    word-break: break-all;
    word-wrap: break-word;
}

#content .markdown pre code {
    /* enclosed by 4 backticks (````) */
    padding: 0;
    font-size: 0.9rem;
}

#content .markdown blockquote {
    padding: 0.5rem 0.5rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    color: #7a7a7a;
    border-left: 0.25rem solid #e5e5e5;
}

#content .markdown blockquote p:last-child {
    margin-bottom: 0;
}

/* Partial: Comments */
#disqus_thread {
    margin-top: 2rem;
}

/* Partial: Footer */
#footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* bottom-align */
    font-size: 0.8rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

/* Partial: postlist */
.post-list {
    padding: 0;
}

.post-list .date-group {
    font-family: {{ .Site.Params.fonts.meta | default .Site.Data.themedefaults.fonts.meta }};
    list-style: none;
    margin-top: 1em;
}

.post-list .post-item {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    padding-left: 1em;
}

.post-list .post-item .meta {
    padding-right: 1.5em;
}

/* Shortcode: recentposts */
.recent-posts {
    font-size: 1rem;
    line-height: 1.5;
    padding-left: 1em;
}

.recent-posts .see-more {
    font-size: 0.9em;
    color: #313537;
    opacity: 0.8;
}

.recent-posts .see-more:hover {
    opacity: 1;
}



/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    html {
        font-size: 0.8rem;
    }

    #container {
        max-width: 540px;
    }

    #header {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    #footer {
        flex-direction: column-reverse;
        align-items: center;
    }

    .frontmatter {
        margin-bottom: 1.5rem;
    }

    .frontmatter .tags {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #container {
        max-width: 768px;
    }

    .all-used-taxonomies {
        margin-bottom: 3rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #container {
        max-width: 1000px;
    }
}