<div id="header">

    {{ if .Site.Params.logofile }}
        <a href="{{ relLangURL "/" }}">
            <img class="logo" src="{{ .Site.Params.logofile }}" alt="logo">
        </a>
    {{ end }}

    <div class="main-header-section">
        <div>
            <a href="{{ relLangURL "/" }}">
                <h1>{{ .Site.Title }}</h1>
            </a>

            <nav>
                <ul>
                    {{ range .Site.Menus.main.ByWeight }}
                        <li>
                            <a  {{ with .Identifier }}class="{{ . }}"{{ end }}
                                href="{{ relLangURL .URL }}"
                                title="{{ .Name }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a>
                        </li>
                    {{ end }}
                </ul>
            </nav>
        </div>

        <div>
            {{ if .Params.showSocialIconsInHeader | default .Site.Params.showSocialIconsInHeader | default true }}
                {{ partial "social" . }}
            {{ end }}
            {{ partial "translations" . }}
        </div>
    </div>

</div>
