<div class="social">
    {{ if .Site.Params.social._500px }}
        <a href="https://500px.com/{{ .Site.Params.social._500px }}" target="_blank">
            <img src="/img/500px.svg" alt="500px" />
        </a>
    {{ end }}

    {{ if .Site.Params.social.gitlab }}
        <a href="https://gitlab.com/{{ .Site.Params.social.gitlab }}" target="_blank">
            <img src="/img/gitlab.svg" alt="gitlab" />
        </a>
    {{ end }}

    {{ if .Site.Params.social.facebook }}
        <a href="https://facebook.com/{{ .Site.Params.social.facebook }}" target="_blank">
            <img src="/img/facebook.svg" alt="facebook" />
        </a>
    {{ end }}

    {{ if .Site.Params.social.github }}
        <a href="https://github.com/{{ .Site.Params.social.github }}" target="_blank">
            <img src="/img/github.svg" alt="github" />
        </a>
    {{ end }}

    {{ if .Site.Params.social.twitter }}
        <a href="https://twitter.com/{{ .Site.Params.social.twitter }}" target="_blank">
            <img src="/img/twitter.svg" alt="twitter" />
        </a>
    {{ end }}

    {{ if .Site.Params.social.mastodon_url }}
        <a rel="me" href="{{ .Site.Params.social.mastodon_url }}" target="_blank">
            <img src="/img/mastodon.svg" alt="mastodon" />
        </a>
    {{ end }}

    {{ if .Site.Params.social.linkedin }}
        <a href="https://www.linkedin.com/in/{{ .Site.Params.social.linkedin }}" target="_blank">
            <img src="/img/linkedin.svg" alt="linkedin" />
        </a>
    {{ end }}

    {{ if .Site.Params.social.email }}
        <a href="mailto:{{ .Site.Params.social.email }}">
            <img src="/img/email.svg" alt="email" />
        </a>
    {{ end }}

    {{ if .Site.RSSLink }}
        <a href="{{ .Site.RSSLink }}">
            <img src="/img/rss.svg" alt="rss" />
        </a>
    {{ end }}
</div>