{{ define "main" }}
    <div class="markdown">
        {{ partial "content" . }}
    </div>

    {{ if isset .Site.Params "latestpostcount" }}
        <div class="mx-0 mx-md-4 posts">
            {{ $nbPosts := len (where .Data.Pages "Section" "blog") }}
            {{ if gt $nbPosts 0 }}
                <div class="page-heading">{{ i18n "latest_posts" }}</div>
                <ul class="px-0">
                    {{ range (first .Site.Params.latestpostcount (where .Pages "Section" "blog")).GroupByDate "Jan, 2006" "desc" }}
                        <li class="groupby">{{ .Key }}</li>
                        {{ range sort .Pages "Date" "desc" }}
                            {{ partial "list" . }}
                        {{ end }}
                    {{ end }}
                </ul>

                {{ if gt $nbPosts .Site.Params.latestpostcount }}
                    <a href="./blog/" class="font-italic mt-4 see-more">{{ i18n "see-more" }}</a>
                {{ end }}
            {{ end }}
        </div>
    {{ end }}
{{ end }}
