{{ $sizeParam := .Get "size" | default (.Get 0) }}
{{ $srcParam := .Get "src"  | default (.Get 1) }}
{{ $titleParam := .Get "title"  | default (.Get 2) }}

{{ $original := .Page.Resources.GetMatch $srcParam }}
{{ if $original }}
    {{ $thumbnail := $original.Resize $sizeParam }}
    {{ $title := default $original.Title $titleParam }}

    <figure>
        <a href="{{ $original.RelPermalink }}">
            <img
                src="{{ $thumbnail.RelPermalink }}"
                width="{{ $thumbnail.Width }}"
                height="{{ $thumbnail.Height }}"
                title="{{ $title }}"
                alt="{{ $title }}" >
        </a>
    </figure>
{{ else }}
    {{ errorf "Shortcode 'thumbnail'.\nError at: %s\nUnable to find image resource: \"%s\"" .Position $srcParam }}
{{ end }}